

/* 1. universal selector */
* {
  color: #3c373b;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Gaegu", cursive;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}

/* H2–H6 */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
  clear: both;
}

/* PARAGRAFLAR */
p {
  font-size: 16px;
  font-family: Roboto;
  padding: 10px;
  line-height: 140%;
  margin: 0;
}

/* TÜM RESİMLER */
img {
  border-radius: 10px;
  width: 100%;
}

/* İLETİŞİM LİSTE */
ul {
  margin: 0 10px;
  list-style: none;
  padding-left: 0;
  line-height: 150%;
}

/* SOLDA RESİM */
.left-img img {
  width: 200px;
  float: left;
  margin-right: 20px;
}

/* SAĞDA RESİM */
.right-img img {
  width: 200px;
  float: right;
  margin-left: 20px;
}

/* CONTAINER */
.container {
  width: 750px;
  margin: 0 auto;
  display: block;
}

/* MENÜ */
header nav {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
}

header nav a {
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  width: 10%;
  background: #e79947;
  color: white;
  text-align: center;
}

header nav a:hover {
  background: white;
  color: #e79947;
}

/* İLETİŞİM BÖLÜMÜ */
.iletisim-section {
  padding: 20px 0;
  border-bottom: 1px dashed black;
}

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed black;
  text-align: center;
}

footer nav a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:hover {
  color: white;
}

footer .copyright {
  padding: 20px 0;
}